<div class="container">
  {% with request.resolver_match.view_name as view_name %}
    <div class="row">
      <div class="d-flex justify-content-between bd-highlight mb-5">
        <div class="p-2 bd-highlight">
          {% if view_name != 'posts:post_detail' %}
            <a class="btn btn-primary btn-sm" 
              href="{% url 'posts:post_detail' post.id %}">
              подробно
            </a>
          {% endif %}
          &nbsp
          {% if view_name != 'posts:group_list' %}
           {% if post.group %}
             <a class="btn btn-primary btn-sm"
               href="{% url 'posts:group_list' post.group.slug %}">
               записи группы
             </a>
             &nbsp
           {% endif %}
          {% endif %}
          {% if view_name != 'posts:profile' %}
            <a class="btn btn-primary btn-sm"
              href="{% url 'posts:profile' post.author %}">
              записи автора
            </a>
          {% endif %}
        </div>
        <div class="p-2 bd-highlight">
          {% if post.author.username == user.username %}
            <a class="btn btn-warning btn-sm"
              href="{% url 'posts:post_edit' post.id %}">
              редактировать
            </a>
            &nbsp
            <button class="btn btn-danger btn-sm" data-toggle="modal"
              data-target="#postdeleteconfirm">
              удалить
            </button>
          {% endif %}
        </div>
      </div>
    </div>
  {% endwith %}
</div>
<!--Modal-->
<div class="modal fade" id="postdeleteconfirm" tabindex="-1"
aria-labelledby="postdeleteconfirm" aria-hidden="True">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postdeleteconfirm">
          Подтверждение удаления
        </h5>
        <button class="btn-close" data-dismiss="modal" aria-lable="close">
        </button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить запись?
        Данное действие не может быть отменено!
        <br>
        <br>
        <div class="d-flex justify-content-center">
        <a class="btn btn-danger btn-sm"
            href="{% url 'posts:post_delete' post.id %}">
            Да, удалить
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal-->