{% extends 'base.html' %}
{% load thumbnail %}
{% block main %}
  {% with request.resolver_match.view_name as view_name %}
    <div class="row justify-content-center">
      <div class="col-md-10 p-5">
        <div class="card">
          <div class="card-header">
            <h3>
              {% block container_header %}
              {% endblock %}
              {% block follow_author %}
              {% endblock %}
            </h3>
            {% block group_description %}
            {% endblock %}
            {% block author_posts_count %}
            {% endblock %}
            {% if view_name == 'posts:post_detail' %}
                {% block author_post_count %}
                {% endblock %}
            {% endif %}
          </div>
          {% block swithcer %}
          {% endblock %}
          <div class="card-body">
            {% for post in page_obj %}
              <ul class="list-unstyled">
                <li>
                  Автор: @{{ post.author }}
                  {% if post.author.get_full_name %}
                    ({{ post.author.get_full_name }})
                  {% endif %}
                </li>
                <li>
                  Дата публикации: {{ post.pub_date }}
                </li>
                {% if post.group %}
                  <li>
                    Группа: {{ post.group }}
                  </li>
                {% endif %}
                {% if post.comments.count > 0 %}
                  <li>
                    Комментариев: {{ post.comments.count }}
                  </li>
                {% endif %}
                <p>
                </p>
                  {% if view_name == 'posts:post_detail' %}
                    {{ post.text|linebreaks }}
                    {% thumbnail post.image "1000x550" crop="center" upscale=True as im %}
                      <img class="card-img my-2" src="{{ im.url }}">
                    {% endthumbnail %}
                  {% else %}
                    {{ post }}
                    {% thumbnail post.image "1000x200" crop="center" upscale=True as im %}
                      <img class="card-img my-2" src="{{ im.url }}">
                    {% endthumbnail %}
                  {% endif %}
              </ul>
              {% include 'includes/posts/post_buttons.html' %}
              {% if not forloop.last %}
                <hr>
              {% endif %} 
            {% endfor %}
            {% include 'includes/posts/paginator.html' %}
          </div>
        </div>
        <br>
        {% if view_name == 'posts:post_detail' %}
          {% include 'includes/posts/post_comment.html' %}
        {% endif %}
      </div>
    </div>
  {% endwith %}
{% endblock %}