{% extends "users/user_auth.html" %}
{% block head_title %}
  Yatube | Сброс пароля
{% endblock %}
{% block header_h %}
  Cброс пароля
{% endblock %}
{% block post_action %}
  <form method="post" action="{% url 'users:password_reset_form' %}">
{% endblock %}
{% block div_change_password %}
  Чтобы сбросить старый пароль — введите адрес электронной почты,
  под которым вы регистрировались.
  <label for="id_email">
    Адрес электронной почты
    <span class="required text-danger">*</span>
  </label>
  <input type="email" name="email" maxlength="254"
    class="form-control" required id="id_email">
{% endblock %}
{% block bottom_buttons %}
  <button type="submit" class="btn btn-primary">
    Сбросить пароль
  </button>
{% endblock %}