{% extends "users/user_auth.html" %}
{% block head_title %}
  Yatube | Изменение пароля
{% endblock %}
{% block header_h %}
  Изменить пароль
{% endblock %}
{% block post_action %}
  <form method="post" action="{% url 'users:password_change_form' %}">
{% endblock %}
{% block div_change_password %}
  <label for="id_old_password">
    Старый пароль
    <span class="required text-danger">*</span>
  </label>
  <input type="password" name="old_password"
    autofocus class="form-control" required id="id_old_password">
  <label for="id_new_password1">
    Новый пароль
    <span class="required text-danger">*</span>
  </label>
  <input type="password" name="new_password1" class="form-control"
    required id="id_new_password1">
  <small id="id_new_password1-help" class="form-text text-muted">
    <ul>
      <li>
        Ваш пароль не должен совпадать с вашим именем или другой
        персональной информацией или быть слишком похожим на неё.
      </li>
      <li>
        Ваш пароль должен содержать как минимум 8 символов.
      </li>
      <li>
        Ваш пароль не может быть одним из широко распространённых
        паролей.
      </li>
      <li>
        Ваш пароль не может состоять только из цифр.
      </li>
    </ul>
  </small>
  <label for="id_new_password2">
    Подтверждение нового пароля
    <span class="required text-danger">*</span>
  </label>
  <input type="password" name="new_password2" class="form-control"
    required id="id_new_password2">
{% endblock %}
{% block bottom_buttons %}
  <button type="submit" class="btn btn-primary">
    Изменить пароль
  </button>
{% endblock %}